{
	"plugins": [
		"prettier-plugin-astro"
	],
	"semi": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}