{
	"plugins": ["prettier-plugin-astro"],
	"semi": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
