---
import BracketsIcon from "@/assets/brackets.svg"
import Button from "@/components/astro/Button.astro"
import MaxContainer from "@/components/astro/MaxContainer.astro"
import GithubOutline from "@/ui/icons/GithubOutline.astro"
import LinkedinOutline from "@/ui/icons/LinkedinOutline.astro"
---

<footer id="footer">
	<MaxContainer>
		<div class="footer-container">
			<div class="me">
				<div class="logo">
					<BracketsIcon />
					Jonathan Cervantes Alarc&oacute;n
				</div>
				<div class="copy">
					© 2025 Jonathan Cervantes Alarc&oacute;n. Todos los derechos reservados
				</div>
			</div>
			<div class="networks">
				<Button
					href="https://github.com/mardecera"
					icon={GithubOutline}
					variant="text"
					type="secondary"
				/>
				<Button
					href="https://www.linkedin.com/in/mardecera/"
					icon={LinkedinOutline}
					variant="text"
					type="secondary"
				/>
			</div>
		</div>
	</MaxContainer>
</footer>

<style>
	#footer {
		border-top: 1px solid #e4e4e7;
		background-color: white;

		.footer-container {
			display: flex;
			align-items: center;
			padding: 4rem 0rem;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: center;

			@media only screen and (min-width: 640px) {
				gap: 3rem;
				justify-content: space-between;
			}

			@media only screen and (min-width: 1080px) {
				padding: 4rem 0rem;
			}
		}

		.logo {
			font-weight: 700;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			justify-content: center;

			@media only screen and (min-width: 600px) {
				justify-content: initial;
			}
		}

		.copy {
			color: #71717a;
			font-size: 0.875rem;
			text-align: center;

			@media only screen and (min-width: 600px) {
				text-align: initial;
			}
		}

		.networks {
			display: flex;
			gap: 1rem;
		}
	}
</style>
