---
import { getRelativeLocaleUrl } from "astro:i18n"
import BracketsIcon from "@/assets/brackets.svg"
import MaxContainer from "@/components/astro/MaxContainer.astro"
import { getLinks } from "@/constants/header"
import { getLocaleFromPath } from "@/utils/locale.utils"
import Link from "./Link.astro"

const currentLocale = getLocaleFromPath(Astro.url.pathname)
const homeHref = getRelativeLocaleUrl(currentLocale)
const LINKS = getLinks(currentLocale)
---

<header id="header" class="sticky sm:fixed">
	<MaxContainer>
		<div class="header-container">
			<Link href={homeHref} className="logo px-0! h-auto!">
				<BracketsIcon class="w-6 h-6" />
				<span class="text-[16px] font-bold">JCA</span>
			</Link>
			<div class="spacer">
				{
					LINKS.map((link) => (
						<Link
							className="px-0! h-auto!"
							href={`${homeHref}${link.href}`}
						>
							<span class="text-sm font-medium">
								{link.label}
							</span>
						</Link>
					))
				}
			</div>
		</div>
	</MaxContainer>
</header>

<style>
	#header {
		left: 0;
		right: 0;
		top: 0;
		background-color: var(--black-opacity-50);
		backdrop-filter: blur(30px);
		color: white;
		z-index: 10;

		.header-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 0rem;

			@media only screen and (min-width: 1080px) {
				padding: 1.5rem 0rem;
			}

			& .logo {
				display: flex;
				align-items: center;
				gap: 0.5rem;
			}

			& .spacer {
				display: none;

				@media only screen and (min-width: 616px) {
					display: flex;
					gap: 2rem;
					font-size: 14px;
				}
			}
		}
	}
</style>
