---
import BracketsIcon from "@/assets/brackets.svg"
import MaxContainer from "@/components/astro/MaxContainer.astro"
import { LINKS } from "@/constants/header"
import Link from "./Link.astro"
---

<header id="header">
	<MaxContainer>
		<div class="header-container">
			<Link href="/" className="logo">
				<BracketsIcon />
				JCA
			</Link>
			<div class="spacer">
				{LINKS.map((link) => <Link href={link.href}>{link.label}</Link>)}
			</div>
		</div>
	</MaxContainer>
</header>

<style>
	#header {
		position: sticky;
		top: 0;
		background-color: var(--background-color-50);
		backdrop-filter: blur(30px);
		color: white;
		z-index: 10;

		.header-container {
			position: sticky;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 0rem;

			@media only screen and (min-width: 1080px) {
				padding: 1.5rem 0rem;
			}

			& .logo {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-weight: 700;
			}

			& .spacer {
				display: none;

				@media only screen and (min-width: 616px) {
					display: flex;
					gap: 2rem;
					font-weight: 500;
					font-size: 14px;
				}
			}
		}
	}
</style>
