---
import Tag from "@/components/astro/Tag.astro"

interface Props {
	title: string
	tecnologies: string[]
	className?: string
}

const { title, tecnologies, className } = Astro.props
---

<div class={`skill-card ${className}`}>
	<div class="skill-card__header">
		<span class="icon">
			<slot />
		</span>
		<h3>{title}</h3>
	</div>
	<ul class="tecnologies">
		{tecnologies.map((tecnology) => <Tag>{tecnology}</Tag>)}
	</ul>
</div>

<style>
	.skill-card {
		border: 1px solid var(--gray-color-100);
		border-radius: 0.5rem;
		padding: 2rem;
		display: flex;
		gap: 1rem;
		flex-direction: column;
		background-color: var(--white-color);

		&:hover {
			outline: 5px solid var(--gray-opacity-70);
		}

		& .skill-card__header {
			display: flex;
			gap: 1rem;
			align-items: center;
		}

		& .icon {
			background-color: var(--black-color);
			width: 2.5rem;
			height: 2.5rem;
			aspect-ratio: 1 / 1;
			border-radius: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--white-color);
		}

		.description {
			color: var(--gray-color-500);
		}

		.tecnologies {
			display: flex;
			gap: 0.5rem;
			flex-wrap: wrap;
		}

		& h3 {
			color: var(--black-color);
		}
	}
</style>
