<span
	class="flex items-center py-0.5 px-2.5 text-[12px] font-medium bg-(--gray-color-100) text-(--black-color) rounded-full border border-(--gray-color-200) cursor-default hover:bg-(--primary-color-50) hover:text-(--primary-color-500) hover:border-(--primary-color-700) transition-colors duration-200"
>
	<slot />
</span>
