<span class="tag">
	<slot />
</span>

<style>
	.tag {
		padding: 2px 10px;
		font-size: 12px;
		font-weight: 600;
		background-color: var(--gray-color-200);
		color: var(--black-color);
		border-radius: 3rem;
		display: flex;
		align-items: center;
		align-items: center;
	}
</style>
