:root {
	--background-color: #040313;
	--success-color-transparent: rgba(45, 228, 60, 0.3);
	--font-size: 16px;
	--line-height: 1.5;
	--background-color-50: rgba(13, 6, 32, 0.5);

	/* Colors */
	--white-color: #ffffff;
	--black-color: #1c1c1c;

	/* Electric Violet */
	--primary-color-50: #e9ebff;
	--primary-color-100: #d6daff;
	--primary-color-200: #b6b9ff;
	--primary-color-300: #8a8bff;
	--primary-color-400: #6b5cff;
	--primary-color-500: #5a37ff;
	--primary-color-600: #5315ff;
	--primary-color-700: #4c0bf7;
	--primary-color-800: #3d0dc6;
	--primary-color-900: #34149b;
	--primary-color-950: #080316;

	/* Malachite */
	--success-color-50: #f0fdf0;
	--success-color-100: #ddfbde;
	--success-color-200: #bcf6bf;
	--success-color-300: #88ed90;
	--success-color-400: #4ddb58;
	--success-color-500: #28d336;
	--success-color-600: #18a124;
	--success-color-700: #177e20;
	--success-color-800: #17641e;
	--success-color-900: #15521c;
	--success-color-950: #062d0b;

	/* Shark */

	--gray-color-50: #f5f6fa;
	--gray-color-100: #ebedf3;
	--gray-color-200: #d2d7e5;
	--gray-color-300: #aab4cf;
	--gray-color-400: #7c8db4;
	--gray-color-500: #5b6e9c;
	--gray-color-600: #475682;
	--gray-color-700: #3b4769;
	--gray-color-800: #333d59;
	--gray-color-900: #2e354c;

	/* Color opacity */

	--primary-opacity-50: rgba(102, 37, 255, 0.5);
	--primary-opacity-70: rgba(102, 37, 255, 0.7);
	--gray-opacity-50: rgba(75, 85, 99, 0.5);
	--gray-opacity-70: rgba(75, 85, 99, 0.7);
	--success-opacity-50: rgba(45, 228, 60, 0.5);
	--success-opacity-70: rgba(45, 228, 60, 0.7);
	--black-opacity-50: rgba(28, 28, 28, 0.5);
}
