---
import TitleOfSection from "@/components/astro/TitleOfSection.astro"
import ButtonLink from "@/components/react/ButtonLink/ButtonLink"
import { useTranslations } from "@/i18n/utils"
import DownloadOutline from "@/ui/icons/DownloadOutline.astro"
import { getLocaleFromPath } from "@/utils/locale.utils"

const currentLocale = getLocaleFromPath(Astro.url.pathname)
const t = useTranslations(currentLocale)
---

<div id="aboutme" class="full-bleed bg-white w-full py-16 sm:py-32">
	<div class="wrapper">
		<div class="flex flex-col gap-4 w-full">
			<TitleOfSection>{t("aboutMe.section")}</TitleOfSection>
			<h2 class="font-bold text-[36px]">{t("aboutMe.title")}</h2>
			<div class="leading-7.25 space-y-2 max-w-225">
				<p>{t("aboutMe.descriptionOne")}</p>
				<p>{t("aboutMe.descriptionTwo")}</p>
				<p>{t("aboutMe.descriptionThree")}</p>
			</div>
			<div class="cta">
				<ButtonLink
					type="secondary"
					download="jonathan-cervantes-cv.pdf"
					href="/jonathan-cervantes-cv.pdf"
					variant="outline"
				>
					{t("aboutMe.download")}
					<DownloadOutline />
				</ButtonLink>
			</div>
		</div>
	</div>
</div>
