---
import MaxContainer from "@/components/astro/MaxContainer.astro"
import TitleOfSection from "@/components/astro/TitleOfSection.astro"
import ContatcForm from "@/components/react/ContactForm"
import { CONTACT } from "@/constants/contact"
import EmailOutline from "@/ui/icons/EmailOutline.astro"
import MarkOutline from "@/ui/icons/MarkOutline.astro"
import PhoneOutline from "@/ui/icons/PhoneOutline.astro"
import { phoneNumberFormatter } from "@/utils/formatters/phoneNumberFormatter"
---

<div id="contact">
	<MaxContainer>
		<div class="container">
			<TitleOfSection>Contacto</TitleOfSection>
			<div class="content">
				<div class="info">
					<p>
						Estoy disponible para trabajar como freelance y para posiciones de tiempo
						completo. Si tienes un proyecto que necesita un toque creativo, me
						encantaría escuchar sobre él.
					</p>
					<div class="contacts">
						<ul>
							<li>
								<span>
									<EmailOutline size="default" />
									<span>{CONTACT.email}</span>
								</span>
							</li>
							<li>
								<span>
									<PhoneOutline />
									<span>{phoneNumberFormatter(CONTACT.phoneNumber, "51")}</span>
								</span>
							</li>
							<li>
								<span>
									<MarkOutline />
									<span>{CONTACT.address}</span>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</MaxContainer>
</div>

<style>
	#contact {
		background-color: var(--gray-color-100);
		padding-block: 2rem;

		@media only screen and (min-width: 640px) {
			padding-block: 4rem;
		}

		& .container {
			& .content {
				display: flex;
				gap: 2rem;
				margin-top: 1rem;

				.info {
					flex: 1;
					display: flex;
					gap: 1rem;
					flex-direction: column;

					& > p {
						color: var(--gray-color-500);
					}

					& .contacts {
						& ul {
							list-style: none;
							display: flex;
							flex-direction: column;
							gap: 0.5rem;

							& li {
								& > span {
									display: flex;
									gap: 1rem;
									align-items: center;
								}
							}
						}
					}
				}

				.form {
					flex: 1;
				}
			}
		}
	}
</style>
