---
import ContactForm from "@/components/ContactForm/ContactForm.astro"
import MaxContainer from "@/components/astro/MaxContainer.astro"
import TitleOfSection from "@/components/astro/TitleOfSection.astro"
import { CONTACT } from "@/constants/contact"
import { useTranslations } from "@/i18n/utils"
import EmailOutline from "@/ui/icons/EmailOutline.astro"
import MarkOutline from "@/ui/icons/MarkOutline.astro"
import PhoneOutline from "@/ui/icons/PhoneOutline.astro"
import { phoneNumberFormatter } from "@/utils/formatters/phoneNumberFormatter"
import { getLocaleFromPath } from "@/utils/locale.utils"

const currentLocale = getLocaleFromPath(Astro.url.pathname)
const t = useTranslations(currentLocale)
---

<div id="contact" class="full-bleed">
	<MaxContainer>
		<div class="container">
			<TitleOfSection>{t("contact.section")}</TitleOfSection>
			<div class="content">
				<div class="info flex-1">
					<p class="font-medium">{t("contact.description")}</p>
					<div class="contacts">
						<ul>
							<li>
								<span>
									<EmailOutline size="default" />
									<span>{CONTACT.email}</span>
								</span>
							</li>
							<li>
								<span>
									<PhoneOutline />
									<span
										>{
											phoneNumberFormatter(
												CONTACT.phoneNumber,
												"51"
											)
										}</span
									>
								</span>
							</li>
							<li>
								<span>
									<MarkOutline />
									<span>{CONTACT.address}</span>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="flex-1 -mt-5">
					<ContactForm />
				</div>
			</div>
		</div>
	</MaxContainer>
</div>

<style>
	#contact {
		background-color: var(--gray-color-100);
		padding-block: 2rem;

		@media only screen and (min-width: 640px) {
			padding-block: 4rem;
		}

		& .container {
			& .content {
				display: flex;
				gap: 2rem;
				margin-top: 1rem;
				flex-wrap: wrap;

				.info {
					flex: 1;
					display: flex;
					gap: 1rem;
					flex-direction: column;

					& .contacts {
						& ul {
							list-style: none;
							display: flex;
							flex-direction: column;
							gap: 0.5rem;

							& li {
								& > span {
									display: flex;
									gap: 1rem;
									align-items: center;
								}
							}
						}
					}
				}

				.form {
					flex: 1;
				}
			}
		}
	}
</style>
