---
import Badge from "@/components/astro/Badge.astro"
import Button from "@/components/astro/Button.astro"
import MaxContainer from "@/components/astro/MaxContainer.astro"

const phoneNumber = "+51977156464"
const texto =
	"Hola, ¿qué tal? Estoy interesado en trabajar contigo en un proyecto. 🚀"
const linkToWhatsapp = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(texto)}`
---

<div id="hero">
	<MaxContainer className="hero-maxcontainer">
		<div class="hero-container">
			<Badge text="Desarrollador Frontend" className="badge" active />
			<h1>Jonathan Cervantes Alarcón</h1>
			<p class="description">
				Construyo aplicaciones web optimizadas, responsive y estructuradas con un enfoque en
				código limpio y excelente experiencia de usuario.
			</p>
			<div class="ctas">
				<Button type="primary" href="/#projects">Ver mi trabajo</Button>
				<Button href={linkToWhatsapp}>Contactame</Button>
			</div>
		</div>
	</MaxContainer>
</div>

<style>
	#hero {
		margin: 0 auto;
		padding: 2rem 0rem;
		width: 100%;
		color: white;

		.hero-maxcontainer {
			width: 100%;
			aspect-ratio: 16 / 9;
		}

		.hero-container {
			max-width: 42rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			padding-top: 10%;

			.badge {
				margin: 0 auto;
			}

			h1 {
				text-align: center;
			}

			.description {
				text-align: center;
			}

			.ctas {
				display: flex;
				gap: 1rem;
				justify-content: center;
				flex-wrap: wrap;
				margin-top: 1rem;
			}
		}
	}
</style>
