---
import SkillCard from "@/components/SkillCard.astro"
import TitleOfSection from "@/components/TitleOfSection.astro"
import { skills } from "@/constants/skills"
import MaxContainer from "@/layouts/MaxContainer.astro"
import GithubOutline from "@/ui/icons/GithubOutline.astro"
---

<div id="skills">
	<MaxContainer>
		<div class="skills-container">
			<div class="header">
				<TitleOfSection>Skills</TitleOfSection>
				<h2>These are the technologies and tools I work with to bring ideas to life.</h2>
			</div>
			<div class="skills-grid">
				{
					skills.map(({ icon, title, description, tecnologies }) => (
						<SkillCard
							title={title}
							description={description}
							tecnologies={tecnologies}
						>
							{icon === "GithubOutline" && <GithubOutline />}
						</SkillCard>
					))
				}
			</div>
		</div>
	</MaxContainer>
</div>

<style>
	#skills {
		width: 100%;
		height: fit-content;
		padding-block: 4rem;
		color: white;

		@media only screen and (min-width: 624px) {
			padding-block: 8rem;
		}

		.skills-container {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.header {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.5rem;

				h2 {
					text-align: center;
				}
			}
		}

		.skills-grid {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			@media only screen and (min-width: 624px) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}

			@media only screen and (min-width: 844px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
</style>
