---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import HeroSection from "../components/HeroSection.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
	<div class="max-width">
		<Header />
		<HeroSection />
		<Footer />
	</div>
</Layout>

<style>
	.max-width {
		max-width: 1080px;
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0 auto;
	}
</style>
