---
import Banner from "@/components/Banner.astro"
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import AboutMe from "@/components/Sections/AboutMe.astro"
import Contact from "@/components/Sections/Contact.astro"
import Hero from "@/components/Sections/Hero.astro"
import Projects from "@/components/Sections/Projects.astro"
import Skills from "@/components/Sections/Skills.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
	<div class="content">
		<Header />
		<Hero />
		<AboutMe />
		<Skills />
		<Projects />
		<Banner
			title="Ready to bring your ideas to life?"
			description="Let's collaborate to create something amazing together. I'm currently available for new projects."
		/>
		<Contact />
		<Footer />
	</div>
</Layout>

<style>
	.content {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0 auto;
	}
</style>
