---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import HeroSection from "../components/HeroSection.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<div class="content">
		<Header />
		<HeroSection />
		<Footer />
	</div>
</Layout>

<style>
	.content {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0 auto;
	}
</style>
