---
import Banner from "@/components/Banner.astro"
import AboutMe from "@/components/Sections/AboutMe.astro"
import Contact from "@/components/Sections/Contact.astro"
import Hero from "@/components/Sections/Hero.astro"
import Projects from "@/components/Sections/Projects.astro"
import Skills from "@/components/Sections/Skills.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
	<div class="content">
		<Hero />
		<AboutMe />
		<Skills />
		<Projects />
		<Banner
			title="¿Listo para hacer algo increíble?"
			description="Vamos a crear algo increíble juntos. Estoy disponible para nuevos proyectos."
		/>
		<Contact />
	</div>
</Layout>

<style>
	.content {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0 auto;
	}
</style>
