---
import Banner from "@/components/astro/Banner.astro"
import AboutMe from "@/components/astro/Sections/AboutMe.astro"
import Contact from "@/components/astro/Sections/Contact.astro"
import Hero from "@/components/astro/Sections/Hero.astro"
import Projects from "@/components/astro/Sections/Projects.astro"
import Skills from "@/components/astro/Sections/Skills.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
	<div class="content">
		<Hero />
		<AboutMe />
		<Skills />
		<Projects />
		<Banner
			title="¿Listo para hacer algo increíble?"
			description="Estoy emocionado para desarrollar tus ideas en nuevos proyectos y apps."
		/>
		<Contact />
	</div>
</Layout>

<style>
	.content {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0 auto;
	}
</style>
