---
import BracketsIcon from "../../public/brackets.svg"
---

<footer id="footer">
	<div class="me">
		<div class="logo">
			<BracketsIcon />
			Jonathan Cervantes Alarc&oacute;n
		</div>
		<div class="copy">
			© 2025 Jonathan Cervantes Alarc&oacute;n. Todos los derechos reservados
		</div>
	</div>
	<div class="networks"></div>
</footer>

<style>
	#footer {
		background-color: #000;
		color: #fff;
		margin-top: auto;
		padding: 4rem;
		display: flex;
		justify-content: space-between;
	}
</style>
