---
import BracketsIcon from "../../public/brackets.svg"
import MaxContainer from "../layouts/MaxContainer.astro"
import Link from "./Link.astro"

const links = [
	{
		label: "About",
		href: "#about",
	},
	{
		label: "Skills",
		href: "#skills",
	},
	{
		label: "Projects",
		href: "#projects",
	},
	{
		label: "Contact",
		href: "#contact",
	},
]
---

<header id="header">
	<MaxContainer>
		<div class="header-container">
			<div class="logo">
				<BracketsIcon />
				JCA
			</div>
			<div class="spacer">
				{links.map((link) => <Link href={link.href}>{link.label}</Link>)}
			</div>
		</div>
	</MaxContainer>
</header>

<style>
	#header {
		border-bottom: 1px solid #e4e4e7;
		position: sticky;
		top: 0;
		background-color: white;

		.header-container {
			position: sticky;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 0rem;

			@media only screen and (min-width: 1080px) {
				padding: 1.5rem 0rem;
			}

			& .logo {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-weight: 700;
			}

			& .spacer {
				display: none;

				@media only screen and (min-width: 425px) {
					display: flex;
					gap: 1rem;
					font-weight: 500;
					font-size: 14px;
				}
			}
		}
	}
</style>
