---
interface Props {
	className?: string
}

const { className } = Astro.props
---

<span class={className}>
	<slot />
</span>

<style>
	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
</style>
