---
interface Props {
	size?: "small" | "default" | "large"
}

const { size = "default" } = Astro.props

const vars = {
	small: "12px",
	default: "16px",
	large: "24px",
}

const selectedSize = vars[size]
---

<span class="icon-wrapper">
	<slot />
</span>

<style define:vars={{ selectedSize }}>
	.icon-wrapper {
		width: var(--selectedSize);
		height: var(--selectedSize);
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;

		& svg {
			width: 100%;
			height: 100%;
		}
	}
</style>
